<div class="stocks">
  <table id="stocks-table">
    <thead>
      <tr>
        <th>Symbol</th>
	<th>Company</th>
	<th>Ask</th>
	<th>Change Points</th>
	<th>Change Percent</th>
        <th>Last Update</th>
      </tr>
      <tbody id="results">
      </tbody>
    </thead>
  </table>
</div>
