<div class="container well">
  <%= form_tag(build_widget_url(:stock_details), :method => :post, :id=> "stockform", :class => "form-inline", :remote => true) do %>
  <form-group>  
    <%= text_field_tag :stock_symbols %>
  </form-group>
    <div><%= submit_tag 'Find Stocks', :class => "btn btn-default", :disable_with => "Please wait..." %></div>
  <% end %>
  <%= render :partial => "/stocks"%>
</div>

<link href="//datatables.net/download/build/nightly/jquery.dataTables.css" rel="stylesheet" type="text/css" />	
<script src="//datatables.net/download/build/nightly/jquery.dataTables.js"></script>
<script>
  $(document).ready( function () {
    $('#stocks-table').DataTable({
     "bFilter": false,
     "bInfo": false,
     "bPaginate": false
    });
    $("#stockform").submit();
  });

  

</script>

